/* You can add global styles to this file, and also import other style files */
.maxHeight {
    height: calc(100%);
}

.navbar {
    margin-bottom: 0px !important;
}

body {
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    margin: 0;
}

input {
    color: black;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none !important;
    /*background-color: #008C88 !important;*/
}